---
# Front matter
---

body{
	margin: 0;
}

/* Color styles */
$darkest-green: rgba(41, 49, 40, 1);
$darker-green: rgba(34, 69, 31, 1);
$green: rgba(45, 131, 37, 1);
$light-green: rgba(208, 252, 204, 1);
$lightest-green: rgba(243, 252, 238, 1);

$link-light: rgba(83, 89, 236, 1);
$link-dark: rgba(83, 190, 236, 1);

$background: rgba(255, 253, 244, 1);
$black: rgba(9, 11, 9, 1);
$brown: rgba(74, 48, 31, 1);
$dark-gray: rgba(49, 52, 49, 1);

$yell-orange: rgba(255, 196, 62, 1);

/* Effect styles */
$light--shadow:  0px 2px 2px rgba(0, 0, 0, 0.1);

body {
	background-color: $background;
}

@import 'typography';
@import 'header';
@import 'footer';