---
~
---

/* Color vars */
$darkest-green: rgba(41, 49, 40, 1);
$darker-green: rgba(34, 69, 31, 1);
$green: rgba(45, 131, 37, 1);
$light-green: rgba(208, 252, 204, 1);
$lightest-green: rgba(243, 252, 238, 1);

$link-light: rgba(83, 89, 236, 1);
$link-dark: rgba(83, 190, 236, 1);

$background: #fffdf4;
$black: rgba(9, 11, 9, 1);
$brown: rgba(74, 48, 31, 1);
$dark-gray: rgba(49, 52, 49, 1);

$yell-orange: rgba(255, 196, 62, 1);

/* Typography variables*/
$h1: 1.802rem;
$h2: 1.602rem;
$h3: 1.424rem;
$h4: 1.266rem;
$h5: 1.225rem;
$h6: 1rem;
$p: 1rem;
$p-large: 1.25rem;
$p-small: .875rem;

$h1--desktop: 2.488rem;
$h2--desktop: 2.074rem;
$h3--desktop: 1.728rem;
$h4--desktop: 1.44rem;
$h5--desktop: 1.2rem;
$h6--desktop: 1rem;
$p-large--desktop: 1.25rem;
$p--desktop: 1rem;
$p-small--desktop: .875rem;

/* Effect vars */
$light--shadow:  0px 2px 2px rgba(0, 0, 0, 0.1);


body {
	margin: 0;
	font-size: 16px;
	background-color: $background;
	}

.container {
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: $brown;
}

p, li {
	color: $darker-green;
}

a {
	color: $link-light;
}


@import 'typography';
@import 'header';
@import 'footer';
@import 'home';
@import 'projects';
@import 'catalogue'