---
# Front matter
---

body{
	margin: 0;
	font-size: 16px;
}

/* Color vars */
$darkest-green: rgba(41, 49, 40, 1);
$darker-green: rgba(34, 69, 31, 1);
$green: rgba(45, 131, 37, 1);
$light-green: rgba(208, 252, 204, 1);
$lightest-green: rgba(243, 252, 238, 1);

$link-light: rgba(83, 89, 236, 1);
$link-dark: rgba(83, 190, 236, 1);

$background: rgba(255, 253, 244, 1);
$black: rgba(9, 11, 9, 1);
$brown: rgba(74, 48, 31, 1);
$dark-gray: rgba(49, 52, 49, 1);

$yell-orange: rgba(255, 196, 62, 1);

/* Typography variables*/
$h1: 1.802em;
$h2: 1.602em;
$h3: 1.424em;
$h4: 1.266em;
$h5: 1.225em;
$h6: 1em;
$p: 1em;
$p-large: 1.25em;
$p-small: .875em;

$h1--desktop: 2.488em;
$h2--desktop: 2.074em;
$h3--desktop: 1.728em;
$h4--desktop: 1.44em;
$h5--desktop: 1.2em;;
$h6--desktop: 1em;
$p-large--desktop: 1.25em;
$p--desktop: 1em;
$p-small--desktop: .875em;

/* Effect vars */
$light--shadow:  0px 2px 2px rgba(0, 0, 0, 0.1);

body {
	background-color: $background;
}

@import 'typography';
@import 'header';
@import 'footer';
@import 'home';