---
---

<!DOCTYPE html>
<html class="no-js">

{% include head.html %}
	
	<body class="catalog-container">
		{% include heading.html %}

		<!-- HERO SECTION-->
		<section class="home-container overflow-hidden" id="home">
			<div class="container px-0">
				<div class="row margin-auto justify-content-center align-items-center">
					<div class="introduction col-10 col-md-8 col-lg-6 px-0">
						<h1 class="text-center">Project Catalogue</h1>
						<div class="intro-blurb">
							<p>A list of projects I’ve worked on as a designer from newest to oldest. Side projects are included at the bottom as well! ;)</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- CATALOGUE SECTION -->
		<section class="archive-section">
			<div class="container d-flex flex-column col-md-10 px-0">
				<div class="p-0 container">
						<div class="col-lg-9 container aboutme-content px-0">
							{% for post in site.projects reversed %}
								{% assign currentdate = post.date | date: "%Y" %}
								{% if currentdate != date %}
								<h2 id="y{{currentdate}}">{{ currentdate }}</h2>
								<hr class="project-line">
								{% assign date = currentdate %}
							{% endif %}
								<div class="d-flex flex-column flex-md-row project-div">
									<a href="{{ post.url }}" class="project-image">
										<img class="img-fluid" src="{{ post.thumbnail-img }}" alt="{{ post.thumbnail-alt }}" >
									</a>
									<div class="project-text">
										<a href="{{ post.url }}">{{ post.title }}</a>
										<p class="">{{ post.summary }}</p>
									</div>
								</div>
						  {% endfor %}
							<div class="w-100 d-flex justify-content-end">
						</div>
					</div>
				</div>
                <div class="p-0 container">
					<h2 class="col-lg-10 d-flex w-100">Side Projects!</h2>
                    <hr class="project-line">
						<div class="col-lg-9 container aboutme-content px-0">


							<div class="w-100 d-flex justify-content-end">
						</div>
					</div>
				</div>
			</div>
		</section>

		{% include footer.html %}

	</body>
	
</html>

