<nav class="navbar-expand-md bg-body-tertiary nav-container">
  <div class="container">
    <div class="row align-end g-0 w-100 align-items-center justify-content-between">
      <div class="col-10 col-md-4">
        <a class="navbar-brand m-0" href="#">
          Blanding Design
        </a>
      </div>
      <div class="col-2 d-flex d-md-none justify-content-end">
        <!-- TODO: Change hamburger icon to close when active-->
        <button class="navbar-toggler btn shadow-none" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="fa-solid fa-bars fa-lg"></span>
      </button>
      </div>
      <div class="col-12 col-md-8">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav w-100 d-flex justify-content-end">
            <li class="nav-item">
              <a class="nav-link active px-md-4" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active px-md-4" href="#">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active px-md-4" aria-current="page" href="#">About Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-md-4" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</nav>