<nav class="navbar navbar-expand-lg bg-body-tertiary nav-container">
  <div class="container">
    <div class="row g-0 w-100 justify-content-between">
     <div class="col-md-4">
      <a class="navbar-brand" href="#"><h2>Blanding Design</h2></a>
     </div>
     <div class="col-md-6 text-end">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav w-100 d-flex justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          </ul>
      </div>
     </div>
      <!-- TODO: Change hamburger icon to close when active-->
      <button class="navbar-toggler btn shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa-solid fa-bars fa-lg"></span>
      </button>
      
    </div>
  </div>
</nav>