<div class="technolgies-used container col-md-10">
    <h3>Technologies I use!</h3>
    <ul class="container">
        <div class="tech-row">
            <li class="col-6 justify-content-start">
                <div class="d-flex align-items-center">
                    <img src="../images/icons/figma.svg">
                    Figma
                </div>
            </li>
            <li class="col-6">
                <div class="d-flex align-items-center">
                    <img src="../images/icons/axure.svg">
                    Axure RP
                </div>
            </li>
            <li class="col-6">
                <div class="d-flex align-items-center">
                    <img src="../images/icons/adobecc.svg">
                    Adobe CC
                </div>
            </li>
            <li class="col-6">
                <div class="d-flex align-items-center">
                    <img src="../images/icons/jira.svg">
                    JIRA
                </div>
            </li>
        </div>
        <div class="tech-row">
            <li class="col-6">
                <div class="d-flex align-items-center">
                    <img src="../images/icons/miro.svg">
                    Miro
                </div>
            </li>
            <li class="col-6">
                <div class="d-flex align-items-center">
                    <img src="../images/icons/html.svg">
                    HTML/CSS/JS
                </div>
            </li>
            <li class="col-6">
                <div class="d-flex align-items-center">
                    <img src="../images/icons/github.svg">
                    Github
                </div>
            </li>
            <li class="col-6">
                <div class="d-flex align-items-center">
                    <img src="../images/icons/netlify.svg">
                    Netlify
                </div>
            </li>
        </div>
    </ul>
</div>