<div class="technolgies-used container align-items-center col-md-10">
    <h3>Technologies I use!</h3>
        <div class="container">
            <div class="tech-row px-0 mb-0">
                <div class="col-6 tech-item">
                    <div class="d-flex align-items-center">
                        <img src="../images/icons/figma.svg">
                        <p>Figma</p>
                    </div>
                </div>
                <div class="col-6 tech-item">
                    <div class="d-flex align-items-center">
                        <img src="../images/icons/axure.svg">
                        <p>Axure RP</p>
                    </div>
                </div>
                <div class="col-6 tech-item">
                    <div class="d-flex align-items-center">
                        <img src="../images/icons/adobecc.svg">
                        <p>Adobe CC</p>
                    </div>
                </div>
                <div class="col-6 tech-item">
                    <div class="d-flex align-items-center">
                        <img src="../images/icons/jira.svg">
                        <p>JIRA</p>
                    </div>
                </div>
            </div>    
            <div class="tech-row px-0 mb-0">
                <div class="col-6 tech-item">
                    <div class="d-flex align-items-center">
                        <img src="../images/icons/miro.svg">
                        <p>Miro</p>
                    </div>
                </div>
                <div class="col-6 tech-item">
                    <div class="d-flex align-items-center">
                        <img src="../images/icons/html.svg">
                        <p>HTML/CSS</p>
                    </div>
                </div>
                <div class="col-6 tech-item">
                    <div class="d-flex align-items-center">
                        <img src="../images/icons/github.svg">
                        <p>GitHub</p>
                    </div>
                </div>
                <div class="col-6 tech-item">
                    <div class="d-flex align-items-center">
                        <img src="../images/icons/netlify.svg">
                        <p>Netlify</p>
                    </div>
                </div>
            </div>
        </div>
</div>