<div class="technolgies-used container align-items-center">
    <h3>Technologies I use!</h3>
        <div class="container px-0">
            <div class="tech-row px-0 mb-0">
                <div class="col-6 col-md-3 tech-item">
                    <div class="d-flex flex-md-column align-items-center">
                        <img src="../images/icons/figma.svg" alt="" class="icon-img">
                        <p>Figma</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 tech-item">
                    <div class="d-flex flex-md-column align-items-center">
                        <img src="../images/icons/axure.svg" alt="" class="icon-img">
                        <p>Axure RP</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 tech-item">
                    <div class="d-flex flex-md-column align-items-center">
                        <img src="../images/icons/adobecc.svg" alt="" class="icon-img">
                        <p>Adobe CC</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 tech-item">
                    <div class="d-flex flex-md-column align-items-center">
                        <img src="../images/icons/jira.svg" alt="" class="icon-img">
                        <p>JIRA</p>
                    </div>
                </div>
            </div>    
            <div class="tech-row px-0 mb-0">
                <div class="col-6 col-md-3 tech-item">
                    <div class="d-flex flex-md-column align-items-center">
                        <img src="../images/icons/miro.svg" alt="" class="icon-img">
                        <p>Miro</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 tech-item">
                    <div class="d-flex flex-md-column align-items-center">
                        <img src="../images/icons/html.svg" alt="" class="icon-img">
                        <p>HTML/CSS</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 tech-item">
                    <div class="d-flex flex-md-column align-items-center">
                        <img src="../images/icons/github.svg" alt="" class="icon-img">
                        <p>GitHub</p>
                    </div>
                </div>
                <div class="col-6 col-md-3 tech-item">
                    <div class="d-flex flex-md-column align-items-center">
                        <img src="../images/icons/netlify.svg" alt="" class="icon-img">
                        <p>Netlify</p>
                    </div>
                </div>
            </div>
        </div>
</div>