.catalog-container {
    background-color: $background;

    .introduction {
        padding: 2rem 0;
    }

    .archive-section {
        background-color: $darker-green;
        color: $background;
        padding: 2rem 1rem;

        h2, h3 {
            color: $background;
            margin-bottom: 1rem;
        }

        p {
            color: $light-green;
        }

        a {
            font-family: 'DM Serif Display', serif;
            font-weight: bold;
            color: $background;
            font-size: $h4;
        }
    }


    .project-line hr {
        height: 2px !important;
        color: $background !important;
    }
}