.catalog-container {
    background-color: $background;

    .introduction {
        padding: 2rem 0;
    }

    .archive-section {
        background-color: $darker-green;
        color: $background;
        padding: 0rem 1rem 2rem 1rem;

        h2, h3 {
            color: $background;
            padding-top: 2rem;
            margin-bottom: 1rem;
        }

        p {
            color: $light-green;
        }

        a {
            font-family: 'DM Serif Display', serif;
            font-weight: bold;
            color: $background;
            font-size: $h3;
        }

        .side-image {
            max-width: 100%;
        }

        .side-project-div {
            padding-bottom: 2em;
        }

    }


    .project-line hr {
        height: 2px !important;
        color: $background !important;
    }

    @media only screen and (min-width: 768px) {
        .archive-section {

            .project-div {
                align-items: center;
                padding: 1em 0;
            }

            .project-image {
                max-width: 40%;
                margin-right: 1em;
            }

            .side-project-div {
                max-width: 50%;
                margin: .5rem;
            }
        }
    }

    @media only screen and (min-width: 992px) {
        .archive-section {
            a {
                font-size: $h3--desktop;
                padding-bottom: .5rem;
            }

            p {
                font-size: $p-large--desktop;
            }
        }
    }
}