footer {
    background-color: $darker-green;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.footer-container p {
    color: $background;
    margin: 0;
    padding: 0;
    font-size: $p-small;
}

// Darkmode styles

.footer-container-darkmode {
    background-color: $light-green;
}

.footer-container-darkmode p {
    color: $darkest-green;
    margin: 0;
    font-size: $p-small;
}