.nav-container {
    background-color: $background;

    .container {
        padding: .5em;
    }
    
    .navbar-brand {
        color: $brown;
        font-family: 'DM Serif Display', serif;
        font-weight: 400;
        font-size: $h3;
    }
    
    .nav-link:hover {
        color: $link-light;
    }

    li a {
        font-family: "Figtree", serif;
        font-weight: 700;
        font-size: $h6;
        color: $darker-green;
    }

    .btn {
        color: $darker-green;
    }
    
    .navbar-toggler button:focus {
        border: 0px;
        box-shadow: 0px none;
    }

    @media only screen and (min-width: 768px) {
        .container {
            padding: .75em 0 .75em 0;
        }
    }

    @media only screen and (min-width: 992px) {
        .container {
            padding: 1.25em 0 1.25em 0;
        }

        .navbar-brand {
            font-size: $h2--desktop;
        }

        li a {
            font-size: $h5--desktop;
        }
    }
}

.nav-container:scrolled {
    box-shadow: $light--shadow;
}