.project-container {
    background-color: $background;

    .introduction-container {
        position: absolute;
    }

    .introduction {
        padding: 1em 0 0 0;
        position: relative;
    }

    h1 {
        margin: 0;
    }

    .blurb h2 {
        font-size: $h5;
        font-weight: bold;
        color: $darker-green;
        font-family: 'Figtree', sans-serif;
    }

    .blurb {
        background-color: white;
        border-radius: .5em;
        padding: .75em;
        box-shadow: $light--shadow;
    }

    img {
        width: 100%;
    }

    blockquote, .img-attribution, .confidential {
        font-size: $p-small;
    }

    blockquote p, .img-attribution {
        color: gray;
        font-style: italic;
    } 

    .confidential {
        color: $dark-gray;
        font-weight: bold;
        font-size: $p-small;
    }

    section.summary-section {
        background-color: $darker-green;
        padding: 2em 0;

        .blurb {
            margin-bottom: 1em;
            position: static;
        }

        .skill-tags {
            list-style: none;
            display: inline-block;
            padding: .5em;
            margin: .25em;
            background-color: $light-green;
            border-radius: .5em;
            color: $darkest-green;
            font-weight: bold;
        }

        .learned-list {
            font-weight: 600;
            padding-bottom: .5em;
        }
    }
}

