.project-container {
    background-color: $background;

    .introduction-container {
        position: absolute;
    }

    .introduction {
        padding: 4rem 0 1rem 0;
        position: relative;
    }

    h1 {
        margin: 0;
    }

    .blurb h2 {
        font-size: $h5;
        font-weight: bold;
        color: $darker-green;
        font-family: 'Figtree', sans-serif;
    }

    .blurb {
        background-color: white;
        border-radius: .5rem;
        padding: .75rem;
        box-shadow: $light--shadow;
    }

    img {
        width: 100%;
    }

    .img-attribution, .confidential {
        font-size: $p-small;
    }

    blockquote p, .img-attribution {
        color: gray;
        font-style: italic;
        margin-bottom: 0;
        font-size: $p-small;
    } 

    .confidential {
        color: $dark-gray;
        font-weight: bold;
        font-size: $p-small;
    }

    section.summary-section {
        background-color: $darker-green;
        padding: 1rem 0 2rem 0;

        .blurb {
            margin-bottom: 1rem;
            position: static;
        }

        .skill-tags {
            list-style: none;
            display: inline-block;
            padding: .5rem;
            margin: .25rem;
            background-color: $light-green;
            border-radius: .5rem;
            color: $darkest-green;
            font-weight: bold;
        }

        .learned-list-group {
            padding-left: 1rem;
        }

        @media only screen and (min-width: 768px) {
            
            .learned-list-group {
                padding-left: 2em;
            }
        }

        .learned-list {
            font-weight: 600;
            padding-bottom: .5rem;
        }
    }
}

@media only screen and (min-width: 768px) {
        .project-container {
            .introduction {
                padding-bottom: 2em;
            }

            p {
                font-size: $p-large--desktop;
            }

            section.summary-section {
                padding-top: 2em;
            }
        }
}

