<!DOCTYPE html>
<html class="no-js">

{% include head.html %}
	
	<body class="home-container">
		{% include heading.html %}

		<!-- HERO SECTION-->
		<section class="home-container overflow-hidden" id="home">
			<div class="container px-0">
				<div class="row margin-auto justify-content-center align-items-center">
					<div class="introduction col-10 col-lg-8 px-0">
						<h1 class="text-center">{{ page.introduction }}</h1>
						<div class="intro-blurb">
							<p>{{ page.intro-blurb }}</p>
							<div class="w-100 d-flex justify-content-end">
								<a href="#" >View All Projects →</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- ABOUT ME SECTION -->
		<section class="aboutme-section" id="aboutme">
			<div class="container d-flex flex-column col-md-10 px-0">
				<div class="p-0 container">
					<h2 class="col-lg-10 d-flex w-100">About Me</h2>
						<div class="col-lg-9 container aboutme-content px-0">
							<p class="">{{ page.content }}</p>
							<div class="w-100 d-flex justify-content-end">
								<a class="btn col-12 col-md-6 custom-btn" href="#">Download Resume (PDF)</a>
							</div>
						</div>
				</div>
				{% include technologies-used.html %}
			</div>
		</section>

		<!-- CONTACT SECTION -->
		<section class="contact-section overflow-hidden" id="contact">
			<div class="container">
				<div class="row margin-auto justify-content-center align-items-center">
					<div class="col-12">
						<h2>Contact Form</h2>
					<!-- BEGIN CONTACT CONTENT, filler from index.md below-->
						<div class="container px-0 d-flex justify-content-center">
							<div class="contact-blurb col-lg-10">
								<p>{{ page.contact }}</p>
								<!-- CONTACT METHODS -->
								<div class="contact-methods container align-items-center">
									<div class="container px-0">
										<div class="tech-row d-md-flex flex-md-wrap justify-content-lg-center px-0 mb-0">
											<div class="contact-item contact-email d-flex flex-row justify-content-lg-center">
												<div class="d-flex flex-column flex-md-row align-items-center justify-content-lg-center">
													<i class="fa-solid fa-envelope"></i>
													<p class="me-2 my-0">Email</p>
												</div>
													<a href="mailto:hello@blandingdesign.com" class="contact-link align-self-center">hello@blandingdesign.com</a>
											</div>
											<div class="contact-item contact-linkedin d-flex flex-row justify-content-lg-center">
												<div class="d-flex flex-column flex-md-row align-items-center">
													<i class="fa-brands fa-linkedin"></i>
													<p class="me-2 my-0">LinkedIn</p>
												</div>
													<a href="https://www.linkedin.com/in/blandingr/" class="contact-link align-self-center ms-lg-1">blandingr</a>
											</div>
											<div class="contact-item contact-github d-flex flex-row justify-content-lg-center">
												<div class="d-flex flex-column flex-md-row align-items-center">
													<i class="fa-brands fa-github"></i>
													<p class="me-2 my-0">GitHub</p>
												</div>
													<a href="https://github.com/Hakata-jpn" class="contact-link align-self-center">hakata-jpn</a>
											</div>
										</div>    
									</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</section>

		{% include footer.html %}

	</body>
	
</html>

