<!DOCTYPE html>

<html class="no-js">

{% include head.html %}
	
	<body class="project-container">
		
		{% include heading.html %}

			<section class="projects-information-container">
				<h1 class="text-center">{{ page.title }}</h1>
				<div class="summary-blurb">
					<h2>Summary:</h2>
					<p>{{ page.summary }}</p>
					{% if page.attribution %}
						<p class="img-attribution">{{ page.attribution }}</p>
					{% endif %}
				</div>
				<div class="image-container">
					<img alt="Simplified and debranded version of the Product Page" src="{{ page.thumbnail-img }}">
				</div>
				<div class="full-summary">
					{% if page.confidential %}
					<p class="confidential">[⚠️ WARNING: This project is not publicly available but implementation is under way. Details have been changed to keep the client and identifying details confidential. Limited details can be confirmed by Brian Hill at Adage Technologies]</p>
				{% endif %}
					<h3>Skills Used In Project</h3>
					<ul class="skill-list p-0">
						{% for skills in page.tags -%}
						{%- if forloop.length > 0 -%}
							<li  class="skill-tags">{{ skills }}</li>{% unless forloop.last %}{% endunless -%}
						{%- endif -%}
					{% endfor %}
					</ul>
					<h3>What I learned</h3>
					<ul>
						{% for lessons in page.learned -%}
						{%- if forloop.length > 0 -%}
							<li class="learned-list">{{ lessons }}</li>{% unless forloop.last %}{% endunless -%}
						{%- endif -%}
					{% endfor %}
					</ul>
					<h3>In Depth</h3>
					{{ content }}
				</div>
			</section>

		{% include footer.html %}
	</body>
</html>

